*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;}
    
    body { 
        background: linear-gradient(90deg,#4411b9 , #000000 , #4411b9  );
    }
    header {
        text-align: center;
        color: #fff;
    }
    
    .midoriya {
        width: 250px;
        height: 250px;
        padding-top: 10px;
    }
    
    #div-instagram {
        width: 250px;
        height: 100px;
        text-align: center;
        margin-top: 20px;
        border-radius: 8px;
        background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    }
    #div-jorge{
        width: 250px;
        height: 100px;
        text-align: center;
        margin-top: 20px;
        border-radius: 8px;
        background: linear-gradient(#000000 ,#8f071c, #000000);
    }
    
    .icon-instagram, .icon-facebook, .icon-github, .icon-linkedin {
        width: 30px;
        padding-top: 10px;
    }
    
    h4 {
        font-size: 20px;
        padding-top: 10px;
    }
    
    a {
        text-decoration: none;
        color: #fff;
    }
    
    #div-facebook {
        width: 250px;
        height: 100px;
        text-align: center;
        margin-top: 20px;
        border-radius: 8px;
        background: linear-gradient( 90deg, rgba(111, 139, 231, 1) 0%, rgba(47, 41, 157, 1) 100%);
    }
    
    
    #div-linkedin {
        width: 250px;
        height: 100px;
        text-align: center;
        margin-top: 20px;
        border-radius: 8px;
        background: linear-gradient(-45deg, #3B5998, #8B9DC3, #DFE3EE);
    }
    
    footer {
        margin-top: 20px;
        text-align: center;
        color: #fff;
    }
    
