*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
 
}
  
    body { 
        background: linear-gradient(90deg,#4411b9 , #4411b9  );
    
    }
    header {
        text-align: center;

    }
    #caixa {
        width: 450px;
        height: 350px;
        padding-top: 10px;
    }


    .midoriya {
        max-width: 1200;
        width: 350px;
        height: 350px;
        padding-top: 10px;
    }
    #div-instagram {
        background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        box-shadow: 11px 10px 3px 0px rgba(0,0,0,0.29);
    }

    
    .icon-instagram, .icon-facebook, .icon-linkedin {
        width: 40px;
        padding-top: 10px;
    }
    
    .icon-git{
        width: 120px;
        padding-top: 10px;
    }

    h4 {
        font-size: 20px;
        padding-top: 10px;
    }
    
    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    
    #div-facebook {
        background: linear-gradient( 90deg, rgba(111, 139, 231, 1) 0%, rgba(47, 41, 157, 1) 100%);
        box-shadow: 11px 10px 3px 0px rgba(0,0,0,0.29); ;
    }
    
    
    #div-linkedin {
        background: linear-gradient(-45deg, #3B5998, #8B9DC3, #DFE3EE);
        box-shadow: 11px 10px 3px 0px rgba(0,0,0,0.29); 
       
    }
    #div-git{
        color: #000000;
        box-shadow: 11px 10px 3px 0px rgba(0,0,0,0.29); 
        background: linear-gradient(-45deg, #535353, #7c7c7c, #DFE3EE);
    }
    #div-linkedin, #div-facebook, #div-instagram, #div-git {
        width: 250px;
        height: 100px;
        text-align: center;
        margin-top: 20px;
        border-radius: 0px;
        
    }
    footer {
        margin-top: 20px;
        text-align: center;
        color: #fff;
    }
    @media (min-width: 1200px) {
        #ab {
            position: absolute;
            height: 351px;
            width: 342px;
            left: 80px;
            top: 111px;
            border-radius: 10px;        
        }
        #caixa {
            width: 450px;
            height: 350px;
            padding-top: 10px;
        }
    }

